name: Java CI with Gradle

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  release:
    types: [created]
  schedule:
    - cron: "0 0 * * 0"

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: ['8']  # Add another java version here if needed

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK ${{matrix.Java}}
      uses: actions/setup-java@v2
      with:
        java-version: ${{matrix.Java}}
        distribution: 'adopt'

    - name: Setup CI Workspace with Gradle
      run: | # We use an older version of Gradle. Since we have a binary already here, ensure it's an executable and use it.
        chmod +x gradlew
        ./gradlew buildEnvironment

    - name: Build with Gradle
      run: ./gradlew build
      
    - name: Run checks and tests
      run: |
        ./gradlew check
        ./gradlew test

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2.2.4
      with:
        name: BTE Server Switcher Mod CI Build
        path: /home/runner/work/BTEServerSwitcher/BTEServerSwitcher/build/libs  # This will always be this directory
